@import '@/node_modules/@placehub/ui/dist/style.css';

:root {
  --sidebar-column-width:   200px;
  --content-column-width:   540px;
  --main-column-width:      calc(var(--sidebar-column-width) + var(--content-column-width));
  --container-column-width: calc(var(--sidebar-column-width) + var(--sidebar-column-width) + var(--content-column-width) + 2rem);
}

.sidebar {
  width: var(--sidebar-column-width);
  flex-shrink: 0;
}
.content {
  width: var(--content-column-width);
  flex-shrink: 0;
}
.main {
  width: var(--main-column-width);
  flex-shrink: 0;
}
.container {
  width: var(--container-column-width);
}

body {
  @apply text-sm font-medium bg-neutral-50;
  font-family: 'Montserrat', sans-serif;
}

html,
body,
#__nuxt {
  height: 100%;
}